
<form>
    <h3 class="heading">Data</h3>
        <table class="data">
			<tr>
				<td> Gear ID </td>
				<td> Name </td>
				<td> Rarity </td>
				<td> Description </td>
			</tr>
			{{#each Page}}
				<tr>
					<td> {{gearID}} </td>
					<td> {{name}} </td>
					<td> {{rarity}} </td>
					<td> {{description}} </td>
				</tr>
			{{/each}}
        </table>
</form>
	
<h2 class="heading">Edit Data</h2>
<form>
	<table class="data">
		<tr>
			<td> Gear ID<input type ="text" id="gearID" name="gearID"> </td>
		</tr>
		<tr>
			<td> Name<input type ="text" id="name" name="name"> </td>
		</tr>
      <tr>
        <td> Rarity <input type ="text" id="rarity" name="rarity"> </td>
      </tr>
        <td>Description<input type ="text" id="description" name="description"> </td>
      </tr>
      <tr>
        <th>  <input type="submit" value="Edit"> </th>
      </tr>
    </table>
</form>
<h2 class="heading"> Remove Data </h2>
<form>
    <table class="data">
		<tr>
			<td>
				Gear ID <input type ="text" id="removeData" name="removeData">
			</td>
		</tr>
		<tr>
			<th>  <input type="submit" value="Remove"> </th>
		</tr>
	</table>
</form>
<h2 class="heading"> Search Data </h2>
<form>
    <table class="data">
        <tr>
			<td>
				<select name="searchData" id="searchData">
					<option value="gearID">Gear ID</option>
					<option value="name">Name</option>
					<option value="rarity">Rarity</option>
					<option value="description">Description</option>
				</select> <input type ="text" id="searchDataAmount" name="searchDataAmount">
			</td>
        </tr>
        <tr>
			<th>  <input type="submit" value="Search"> </th>
        </tr>
    </table>
</form>
